<section class="login-background" @fade>
  <div class="container">
    <div>
      <mat-card>
        <div class="login-card-header">
          <div class="logo-container">
            <img
              src="../../assets/images/company-logo.png"
              class="company-logo"
            />
          </div>
          <h2>Login</h2>
          <p>Stay updated on your professional world</p>
        </div>

        <form [formGroup]="this.loginForm">
          <p class="warning-message">
            {{ this.message }}
          </p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" matInput formControlName="email" />
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <button mat-button color="accent" (click)="login()">LOGIN</button>

          <a href="http://localhost:3000/api/user/authenticate/google">
            Sign up Google</a
          >
        </form>
      </mat-card>
    </div>
  </div>
</section>
