<img [src]="this.qrCodeUrl" height="90" width="90" />
<button (click)="this.generateQRCode()" [disabled]="this.qrBtn"
    [ngStyle]="{ cursor: this.qrBtn ? 'progress ': 'pointer'}">QR Code</button>
<button (click)="this.downloadPDF()" [disabled]="this.pdfbtn"
    [ngStyle]="{ cursor: this.pdfbtn ? 'progress ': 'pointer'}">PDF</button>
<button (click)="this.downloadExcel()" [disabled]="this.excelbtn"
    [ngStyle]="{ cursor: this.excelbtn ? 'progress ': 'pointer'}">Excel</button>
<button (click)="this.downloadExcel()" [disabled]="this.excelbtn"
    [ngStyle]="{ cursor: this.excelbtn ? 'progress ': 'pointer'}">SVG</button>

<div class="addbutton-container">
    <div>
        <mat-card>
            <button mat-stroked-button color="accent" (click)="openAddBookModal()">ADD NEW BOOK</button>
        </mat-card>
    </div>
</div>
<div>

<app-table-books [books]="this.books" [totalCount]="this.counts" [totalPages]="this.pages" (next)="this.getBooks($event)" (previous)="this.getBooks($event)"></app-table-books>
