.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

mat-card{
    margin-top: 15vh !important;
    padding: 40px !important;
    background: linear-gradient(11deg, rgba(222, 226, 245, 0.7) 0%, rgba(150, 153, 192, 0.7) 80%) !important;
	color:black !important;
}
